<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{header::header}">
</head>
<body>
<nav th:replace="~{header::nav}">
</nav>
<div class="jumbotron">
  <br>
  <div class="container">
    <h3 style="margin-left: 47%">회원 가입</h3>
  </div>
</div>
<div class="container">
  <form name="newMember" class="form-horizontal"  action="/member" method="post" onsubmit="return checkForm()">
    <div style="color: red; font-size: 18px" th:if=${message} th:text=${message}></div>
    <br>
    <div class="form-group row">
      <label class="col-sm-2">아이디</label>
      <div class="col-sm-3">
        <input th:value=${member?.id} name="id" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group  row">
      <label class="col-sm-2">비밀번호</label>
      <div class="col-sm-3">
        <input th:value=${member?.password} name="password" type="password" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">비밀번호확인</label>
      <div class="col-sm-3">
        <input th:value=${member?.password} name="password_confirm" type="password" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2" th:value=${member?.name}>성명</label>
      <div class="col-sm-3">
        <input th:value=${member?.name} name="name" type="text" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">성별</label>
      <div class="col-sm-10">
        <input th:checked="${#strings.equals(member?.gender, '남')}" name="gender" type="radio" value="M" /> 남
        <input th:checked="${#strings.equals(member?.gender, '여')}" name="gender" type="radio" value="W" /> 여
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2">생일</label>
      <div class="col-sm-4">
        <input th:value=${member?.year} type="text" name="year" maxlength="4" placeholder="년(4자)" size="6">
        <input th:value=${member?.month} type="text" name="month" maxlength="2" placeholder="월" size="4">
        <input th:value=${member?.day} type="text" name="day" maxlength="2" placeholder="일" size="4">
      </div>
    </div>
    <br/>
    <div class="form-group row">
      <label class="col-sm-2 ">우편번호</label>
      <div class="col-sm-5">
        <input type="text" placeholder="우편번호" name="postcode" id="sample4_postcode" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 ">도로명주소</label>
      <div class="col-sm-5">
        <input type="text" placeholder="도로명주소" name="roadAddress" id="sample4_roadAddress" class="form-control">
      </div>
    </div>
    <span id="guide" style="color:#999;display:none"></span>
    <div class="form-group row">
      <label class="col-sm-2 ">지번주소</label>
      <div class="col-sm-5">
        <input type="text" placeholder="지번주소" name="jibunAddress" id="sample4_jibunAddress" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 ">상세주소</label>
      <div class="col-sm-5">
        <input type="text" placeholder="상세주소" name="detailAddress" id="sample4_detailAddress" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 ">참고항목</label>
      <div class="col-sm-5">
        <input type="text" placeholder="참고항목" name="extraAddress" id="sample4_extraAddress" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 "></label>
      <div class="col-sm-5">
        <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
      </div>
    </div>
    <br/>
    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="등록" >
        <input type="reset" class="btn btn-primary" value="취소" onclick="reset()" >
      </div>
    </div>
  </form>
</div>

<script type="text/javascript" src="loginForm.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>
</body>
</html>