<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{header::header}">
</head>

<body>
<nav th:replace="~{header::nav}">
</nav>
<br>
<div class="container">
  <h3 style="margin-left: 46%">오픈API</h3>
</div>
<br>
<div class="container" align="center">
  <div class="col-md-4 col-md-offset-4">
    <div th:if=${restkey} th:text="|REST API키 : ${restkey}|" style="font-size:20px"></div>
    <div th:if=${restkey} style="font-size:20px">30일 동안 유효 합니다.</div>
    <br>
    <a href="/getRestApiKey">
    <button class="btn btn btn-lg btn-success btn-block">REST KEY 발급받기</button>
    </a>
    <table style="margin-top: 40px;">
      <tr>
        <th scope="col" colspan="2">[GET] dapandamall.com/productApi/{productId}</th>
      </tr>
      <tr>
        <th scope="col">errorcode</th>
        <th scope="col">errordetail</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Authorization헤더가 존재 하지 않아서 나는 에러입니다.</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Authorization헤더는 존재하나 값이 허가 되지 않아서 나는 에러입니다.</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Authorization헤더가 존재하고 값도 이상이 없으나 상품이 존재하지 않아서 나는 에러입니다.</td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>